.pintDanger {
  color: red;
}

.pintWarning {
  color: yellow;
  -webkit-text-stroke: 1.1px black;
}

.pintOkay {
  color: green;
}

.pintPlenty {
  color: gold;
}

.row {
  border: grey 1px solid;
  padding: 5px;
}

.btn {
  margin-top: 10px;
}

.row, .col {
  border: grey 1px solid;
  padding: 5px;
  text-align: center;
  background-color: white;
}
