<div class="keg-table">
  <div class="row">
    <div class="col">
      <h2 (click)="sortName()">Name &#x021D5;</h2>
    </div>
    <div class="col">
      <h2 (click)="sortBrand()">Brand &#x021D5;</h2>
    </div>
    <div class="col">
      <h2 (click)="sortPrice()">Price &#x021D5;</h2>
    </div>
    <div class="col">
      <h2 (click)="sortABV()">ABV &#x021D5;</h2>
    </div>
    <div class="col">
      <h2>Pints Left</h2>
    </div>
  </div>
  <div *ngFor="let keg of kegs" class="row">
    <div class="col">
      <h2>{{keg.name}}</h2>
    </div>
    <div class="col">
      <h2>{{keg.brand}}</h2>
    </div>
    <div class="col">
      <h2 [class]="priceColor(keg)">${{keg.price}}</h2>
    </div>
    <div class="col">
      <h2>{{keg.alcContent}}%</h2>
    </div>
    <div class="col">
      <h2 [class]="pintsRunningOut(keg)">{{keg.pintsLeft}}</h2>
    </div>
  </div>
</div>
